<div class="container">
<div class="card m-3"style="background-image: repeating-linear-gradient(pink,white,grey); width: 50rem;">
<h5 class="card-header text-center">Add Items</h5>
<div class="card-body">
  <form [formGroup]="additemsForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-md-5 offset-4">
      <label>CategoryName:</label>
      <select id="s1" formControlName="categoryid" (change)="onGetSubCategory()" class="form-control input-line full-width">
        <option *ngFor="let cat of Categorylist" value="{{cat.categoryid}}">{{cat.categoryname}}</option>
        </select>
            <div *ngIf="submitted && f.categoryid.errors" class="invalid-feedback">
        <div *ngIf="f.categoryid.errors.required">categoryName is required</div>
      </div>
    </div>
    <div class="form-group col-md-5 offset-4">
      <label>SubcategoryName:</label>
      <select id="s2" formControlName="subcategoryid" class="form-control input-line full-width">
        <option *ngFor="let cat of SubCategorylist" value="{{cat.subcategoryid}}">{{cat.subcategoryname}}</option>
      </select>
      <div *ngIf="submitted && f.subcategoryid.errors" class="invalid-feedback">
        <div *ngIf="f.subcategoryid.errors.required">SubcategoryName is required</div>
      </div>
    </div>
    <div class="form-group col-md-5 offset-4">
      <label>SellerId:</label>
      <input type="text" formControlName="sid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sid.errors }">
      <div *ngIf="submitted && f.sid.errors" class="invalid-feedback">
        <div *ngIf="f.sid.errors.required">sellerid is required</div>
      </div>
    </div>
    <div class="form-group col-md-5 offset-4">
      <label>ItemName:</label>
      <input type="text" formControlName="itemname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.itemname.errors }">
      <div *ngIf="submitted && f.itemname.errors" class="invalid-feedback">
        <div *ngIf="f.itemname.errors.required">itemname is required</div>
      </div>
    </div>
    <div class="form-group col-md-5 offset-4">
      <label>Price:</label>
      <input type="number" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
      <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
        <div *ngIf="f.price.errors.required">price is required</div>
      </div>
    </div>
    <div class="form-group col-md-5 offset-4">
      <label>Description:</label>
      <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
      <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
        <div *ngIf="f.description.errors.required">description is required</div>
      </div>
    </div>
      <div class="form-group col-md-5 offset-4">
        <label>Stock:</label>
        <input type="text"formControlName="stocknumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.stocknumber.errors }">
        <div *ngIf="submitted && f.stocknumber.errors" class="invalid-feedback">
          <div *ngIf="f.stocknumber.errors.required">stock is required</div>
        </div>
      </div>
      <div class="form-group col-md-5 offset-4">
        <label>Remarks:</label>
        <input type="text"formControlName="remarks" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.remarks.errors }">
        <div *ngIf="submitted && f.remarks.errors" class="invalid-feedback">
          <div *ngIf="f.remarks.errors.required">remarks is required</div>
        </div>
      </div>
         <div class="form-group col-md-5 offset-4">
          <label for="exampleFormControlFile1">upload Photo</label>
          <input type="file" formControlName="image" (change)="fileEvent($event)" class="form-control-file"[ngClass]="{'is-invalid':submitted &&f.image.errors}">
          <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
            <div *ngIf="f.image.errors.required">image is required</div>
          </div>
          </div>
        <div class="form-group col-md-5 offset-4">
          <button class="btn btn-primary mr-1">Add</button>
          <button class="btn btn-danger" type="reset" (click)="onReset()">Reset</button>
      </div>
    </form>
</div>
</div>
</div>
 