<div class="container" >
  <div class="card m-3 "style="background-image: repeating-linear-gradient(pink,white,grey); width: 50rem;">
  <h5 class="card-header text-center">Seller Register form</h5>
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-5 offset-5">
          <label>ID</label>
          <input type="text" formControlName="Sid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Sid.errors }" />
          <div *ngIf="submitted && f.Sid.errors" class="invalid-feedback">
          <div *ngIf="f.Sid.errors.required">Seller id is required</div>
          </div>
        </div>
        <div class="form-group col-5 offset-5">
            <label>User Name</label>
            <input type="text" formControlName="susername" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.susername.errors }" />
            <div *ngIf="submitted && f.susername.errors" class="invalid-feedback">
            <div *ngIf="f.susername.errors.required"> Name is required</div>
            <div *ngIf="f.susername.errors.pattern">Enter only Alphabets</div>
            </div>
        </div>
        <div class="form-group col-5 offset-5">
            <label>Password</label>
            <input type="password" maxlength="8" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.pattern">Password must be 8 letters and last digit is special character</div>
        </div>
        </div>
        <div class="form-group col-5 offset-5">
            <label>Company Name</label>
            <textarea type="text" formControlName="companyname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.companyname.errors }"></textarea>
            <div *ngIf="submitted && f.companyname.errors" class="invalid-feedback">
            <div *ngIf="f.companyname.errors.required">company Name is required</div>
            <div *ngIf="f.companyname.errors.pattern">Enter only Alphabets</div>
            </div>
        </div>
        <div class="form-group col-5 offset-5">
            <label>Gstin</label>
            <input type="text" formControlName="Gstin" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Gstin.errors }" />
            <div *ngIf="submitted && f.Gstin.errors" class="invalid-feedback">
            <div *ngIf="f.Gstin.errors.required"> field is required</div>
            <div *ngIf="f.Gstin.errors.pattern">tax ident number</div>
            </div>
        </div>
        <div class="form-group col-5 offset-5">
            <label>Brief about company</label>
            <textarea type="text" formControlName="brief" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.brief.errors }"></textarea>
            <div *ngIf="submitted && f.brief.errors" class="invalid-feedback">
            <div *ngIf="f.brief.errors.required">  is required</div>
            </div>
        </div>
        <div class="form-group col-5 offset-5">
            <label>Address</label>
            <textarea type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"></textarea>
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
            <div *ngIf="f.address.errors.required"> field is required</div>
             </div>
        </div>
        <div class="form-group col-5 offset-5">
            <label>website</label>
            <input type="text" formControlName="website" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.website.errors }" />
            <div *ngIf="submitted && f.Gstin.errors" class="invalid-feedback">
            <div *ngIf="f.website.errors.required"> website is required</div>
            <div *ngIf="f.website.errors.pattern">website must be in pattern</div>
            </div>
        </div>
        <div class="form-group col-5 offset-5">
            <label>Email</label>
            <input type="text" formControlName="emailid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailid.errors }" />
            <div *ngIf="submitted && f.emailid.errors" class="invalid-feedback">
            <div *ngIf="f.emailid.errors.required">Email is required</div>
            <div *ngIf="f.emailid.errors.email">Email must be a valid email address</div>
        </div>
        </div>
        <div class="form-group col-5 offset-5">
            <label>Mobile</label>
            <input type="text" formControlName="mobile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
            <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
            <div *ngIf="f.mobile.errors.required">Mobile no is required</div>
            <div *ngIf="f.mobile.errors.pattern">Mobile no Must be Valid</div>
            </div>
        </div>
       <div class="form-group form-check offset-5">
            <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
            <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
            <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary mr-1">Register</button>
            <button class="btn btn-danger" type="reset" (click)="onReset()">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>
