<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="topnav">
        <a class="active"  href="home"><i class="fa fa-fw fa-home"></i>Home</a>
        <a [routerLink]="['ViewProfileSeller']" routerLinkActive="router-link-active" ><i class="fa fa-fw fa-user"></i>ViewProfile</a>
        <a [routerLink]="['additems']" routerLinkActive="router-link-active" ><span class=" glyphicon glyphicon-shopping-cart"></span>Add Items</a>
        <a [routerLink]="['viewitems']"routerLinkActive="router-link-active"><span class=" glyphicon glyphicon-shopping-cart"></span>View Items</a>
        <!-- <a [routerLink]="['viewreposits']" routerLinkActive="router-link-active" ><span class=" glyphicon glyphicon-shopping-cart"></span>View Reports</a> -->
        <a href="#" id="l" ><i class="fa fa-fw fa-user"></i>logout</a>
        <!-- <div class="search-container">
          <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div> -->
      </div>
      <!-- <div class="sidenav">
        <a [routerLink]="['additems']" routerLinkActive="router-link-active" ><span class="glyphicon glyphicon-shopping-cart"></span> Additems</a>
        <a [routerLink]="'/viewitems'" routerLinkActive="router-link-active"><span class="glyphicon glyphicon-shopping-cart"> </span>  view items </a>
        <a [routerLink]="['viewprofile']" routerLinkActive="router-link-active"><i class="fa fa-fw fa-user"></i>  View Profile</a>
        <a [routerLink]="['viewreposits']" routerLinkActive="router-link-active" ><span class=" glyphicon glyphicon-shopping-cart"></span>view Reports</a>
        <a [routerLink]="['seller-edit-profile']" routerLinkActive="router-link-active"><i class="fa fa-fw fa-user"></i>seller-edit-profile</a>
       </div> -->
</body>
</html>
<div class="bg"></div>
<router-outlet></router-outlet> 
